# macOS
.DS_Store

# Node / Angular
node_modules/
dist/

# Java / Maven
target/

# Environment variables / secrets
.env
#.env.*

# IDE
.idea/
.vscode/

# Logs
*.log

# Raw external datasets
data/gtfs/*.zip
data/gtfs/current/